RewriteEngine on

RewriteRule ^foreigners/export/csv/([0-9])[/]?$ /foreigns/index.php?gofor=csvexport&csvmode=$1 [L]
RewriteRule ^foreigners/manual[/]?$ /foreigns/index.php?gofor=manual [L]
RewriteRule ^foreigners/export/csv[/]?$ /foreigns/index.php?gofor=csvexport [L]
RewriteRule ^foreigners/login[/]?$ /foreigns/index.php?gofor=foreigners [L]
RewriteRule ^foreigners/login/out[/]?$ /foreigns/index.php?gofor=foreigners&out=1 [L]
RewriteRule ^foreigners/login/error[/]?$ /foreigns/index.php?gofor=foreigners&islgnerror=1 [L]
RewriteRule ^foreigners[/]?$ /foreigns/index.php?gofor=foreignersList [L]
RewriteRule ^foreigners/archiv/([0-1])/[/]?$ /foreigns/index.php?gofor=foreignersList&archiv=$1 [L]
RewriteRule ^foreigners/search/(.+)/[/]?$ /foreigns/index.php?gofor=foreignersList&search=$1 [L]
RewriteRule ^foreigners/reset[/]?$ /foreigns/index.php?gofor=foreignersList&reset=1 [L]
RewriteRule ^foreigners/sort/([0-9]+)/down[/]?$ /foreigns/index.php?gofor=foreignersList&sort=$1&direction=DESC [L]
RewriteRule ^foreigners/sort/([0-9]+)[/]?$ /foreigns/index.php?gofor=foreignersList&sort=$1 [L]
RewriteRule ^foreigners/control[/]?$ /foreigns/crudForeigner.php [L]


